// -------------------------------------------------------------------
// :: STYLEGUIDE TITLE AND TEXTS
// -------------------------------------------------------------------

.styleguide__section-title{
	padding: 10rem;
	text-align: center;
	background-color: $primary-color;
	color: $s_white;
}

// -------------------------------------------------------------------
// :: STYLEGUIDE NEW
// -------------------------------------------------------------------

.styleguide__h1,
.styleguide__h2,
.styleguide__h3,
.styleguide__h4 {
	font-weight: inherit;
	line-height: 1.2 !important;
	margin: 1.414em 0 0.5em !important;
}

.styleguide__h1 {
	font-size: 3.998rem !important;
	font-weight: 900;
}

.styleguide__h2 {
	font-size: 2.827rem !important;
	font-weight: 900;
}

.styleguide__h3 {
	font-size: 1.999rem !important;
	font-weight: 300;
}

.styleguide__h4 {
	font-size: 1.414rem !important;
	font-weight: 300;
}

.styleguide__small {
	font-size: 0.707rem !important;
	font-weight: 300;
}

.styleguide__p {
	font-size: 1rem !important;
	margin-bottom: 1.3em !important;
	font-weight: 300;
}

.styleguide__hr {
	border-top: 1px solid $border-color;
	width: 100%;
	height: 1px;
	margin: 1.3em 0;
}

.styleguide__sample {
	position: relative;
	margin-top: 2em;
	overflow: hidden;
}
