{# ------------------------#}
{# -------Code block-------#}
{# ------------------------#}
{% macro alertFeedback(message) %}
	<div class="a-alert" role="alert" aria-live="assertive">
		<p class="icon-alert">
			This is a <a href="#" title="">{{ message }}</a>.
		</p>
	</div>
{% endmacro %}

{% macro errorFeedback(message) %}
	<div class="a-alert is-error">
		<p class="icon-alert">
			{{ message }}
		</p>
	</div>
{% endmacro %}

{% macro warningFeedback(message) %}
	<div class="a-alert is-warning">
		<p class="icon-alert">
			{{ message }}
		</p>
	</div>
{% endmacro %}

{% macro successFeedback(message) %}
	<div class="a-alert is-success">
		<p class="icon-checkmark">
			{{ message }}.
		</p>
	</div>
{% endmacro %}

{% macro infoFeedback(message) %}
	<div class="a-alert is-information">
		<p class="icon-alert">
			{{ message }}
		</p>
	</div>
{% endmacro %}

{# ----------------------------#}
{# ------Styleguide block------#}
{# ----------------------------#}
{% macro styleguide() %}
	<div class="styleguide__h3 styleguide__sub-title">General principle</div>
	<div class="styleguide__p">
		Always provide feedback on user interaction. This can be immediate
		(eg. inline validation) or after the action (eg. submit a form).
		Feedback messages are informative and provide an easy escape or
		alternative/following action. The tone of voice should be human
		and add personality to the experience/brand.
	</div>

	<div class="styleguide__h3 styleguide__sub-title js-scroll-nav__sub-title">Alerts</div>
	<div class="styleguide__p">
		An alert component to provide feedback messages to the user.
	</div>


    {% set alertFeedback = alertFeedback('This is a feedback message.') %}
	<div class="styleguide__sample">
        {{ alertFeedback }}
	</div>

	<div class="styleguide__highlight-box">
		<div class="styleguide__highlight-box__header">Code Sample</div>
		<textarea class="styleguide__code-mirror">
			{{ alertFeedback | forceescape }}
		</textarea>
	</div>
	<div class="styleguide__p">&nbsp;</div>

    {% set errorFeedback = errorFeedback('This is a feedback message.') %}
	<div class="styleguide__sample">
        {{ errorFeedback }}
	</div>

	<div class="styleguide__highlight-box">
		<div class="styleguide__highlight-box__header">Code Sample</div>
		<textarea class="styleguide__code-mirror">
			{{ errorFeedback | forceescape }}
		</textarea>
	</div>
	<div class="styleguide__p">&nbsp;</div>

    {% set warningFeedback = warningFeedback('This is a feedback message.') %}
	<div class="styleguide__sample">
        {{ warningFeedback }}
	</div>

	<div class="styleguide__highlight-box">
		<div class="styleguide__highlight-box__header">Code Sample</div>
		<textarea class="styleguide__code-mirror">
			{{ warningFeedback | forceescape }}
		</textarea>
	</div>
	<div class="styleguide__p">&nbsp;</div>

    {% set successFeedback = successFeedback('This is a feedback message.') %}
	<div class="styleguide__sample">
        {{ successFeedback }}
	</div>
	<div class="styleguide__highlight-box">
		<div class="styleguide__highlight-box__header">Code Sample</div>
		<textarea class="styleguide__code-mirror">
			{{ successFeedback | forceescape }}
		</textarea>
	</div>
	<div class="styleguide__p">&nbsp;</div>

    {% set infoFeedback = infoFeedback('This is a feedback message.') %}
	<div class="styleguide__sample">
        {{ infoFeedback }}
	</div>
	<div class="styleguide__highlight-box">
		<div class="styleguide__highlight-box__header">Code Sample</div>
		<textarea class="styleguide__code-mirror">
			{{ infoFeedback | forceescape }}
		</textarea>
	</div>
	<div class="styleguide__p">&nbsp;</div>

{% endmacro %}
