{# ------------------------#}
{# -------Code block-------#}
{# ------------------------#}
{% macro alertFeedback(message) %}
	<div class="a-alert" role="alert" aria-live="assertive">
		This is a <a href="#" title="">{{ message }}</a>.
	</div>
{% endmacro %}

{% macro errorFeedback(message) %}
	<div class="a-alert is-error">
		{{ message }}
	</div>
{% endmacro %}

{% macro warningFeedback(message) %}
	<div class="a-alert is-warning">
		{{ message }}
	</div>
{% endmacro %}

{% macro successFeedback(message) %}
	<div class="a-alert is-success">
		{{ message }}.
	</div>
{% endmacro %}

{% macro infoFeedback(message) %}
	<div class="a-alert is-information">
		{{ message }}
	</div>
{% endmacro %}

{# ----------------------------#}
{# ------Styleguide block------#}
{# ----------------------------#}
{% macro styleguide() %}
	<div class="styleguide__h3 styleguide__sub-title">Alerts</div>
	<div class="styleguide__p">
		Always provide feedback on user interaction. This can be immediate
		(eg. inline validation) or after the action (eg. submit a form).
		Feedback messages are informative and provide an easy escape or
		alternative/following action. The tone of voice should be human
		and add personality to the experience/brand.
	</div>

	<div class="styleguide__h3 styleguide__sub-title">Feedback</div>
	<div class="styleguide__p">
		An alert component to provide feedback messages to the user.
	</div>


    {% set alertFeedback = alertFeedback('This is a feedback message.') %}
	<div class="styleguide__sample">
		<div class="styleguide__sample__body">
			{{ alertFeedback }}
		</div>
	</div>

	<div class="styleguide__highlight-box cm-s-dracula">
		<textarea class="styleguide__code-mirror">
			{{ alertFeedback | forceescape }}
		</textarea>
	</div>
	<div class="styleguide__p">&nbsp;</div>

    {% set errorFeedback = errorFeedback('This is a feedback message.') %}
	<div class="styleguide__h3 styleguide__sub-title">Error</div>
	<div class="styleguide__p">
		An alert component to provide error messages to the user.
	</div>
	<div class="styleguide__sample">
		<div class="styleguide__sample__body">
			{{ errorFeedback }}
		</div>
	</div>

	<div class="styleguide__highlight-box cm-s-dracula">
		<textarea class="styleguide__code-mirror">
			{{ errorFeedback | forceescape }}
		</textarea>
	</div>
	<div class="styleguide__p">&nbsp;</div>

    {% set warningFeedback = warningFeedback('This is a feedback message.') %}
	<div class="styleguide__h3 styleguide__sub-title">Warning</div>
	<div class="styleguide__p">
		An alert component to provide warning messages to the user.
	</div>
	<div class="styleguide__sample">
		<div class="styleguide__sample__body">
			{{ warningFeedback }}
		</div>
	</div>

	<div class="styleguide__highlight-box cm-s-dracula">
		<textarea class="styleguide__code-mirror">
			{{ warningFeedback | forceescape }}
		</textarea>
	</div>
	<div class="styleguide__p">&nbsp;</div>

    {% set successFeedback = successFeedback('This is a feedback message.') %}
	<div class="styleguide__h3 styleguide__sub-title">Success</div>
	<div class="styleguide__p">
		An alert component to provide success messages to the user.
	</div>
	<div class="styleguide__sample">
		<div class="styleguide__sample__body">
			{{ successFeedback }}
		</div>
	</div>
	<div class="styleguide__highlight-box cm-s-dracula">
		<textarea class="styleguide__code-mirror">
			{{ successFeedback | forceescape }}
		</textarea>
	</div>
	<div class="styleguide__p">&nbsp;</div>

    {% set infoFeedback = infoFeedback('This is a feedback message.') %}
	<div class="styleguide__h3 styleguide__sub-title">Info</div>
	<div class="styleguide__p">
		An alert component to provide info messages to the user.
	</div>
	<div class="styleguide__sample">
		<div class="styleguide__sample__body">
			{{ infoFeedback }}
		</div>
	</div>
	<div class="styleguide__highlight-box cm-s-dracula">
		<textarea class="styleguide__code-mirror">
			{{ infoFeedback | forceescape }}
		</textarea>
	</div>
	<div class="styleguide__p">&nbsp;</div>

{% endmacro %}
