{# ----------------------------#}
{# ------Styleguide block------#}
{# ----------------------------#}
{% macro styleguide() %}
	<div id="buttons" class="styleguide__h2 styleguide__title js-scroll-nav__sub-title">Buttons</div>
	<div class="styleguide__small">/sass/atoms/_buttons.scss</div>
{% endmacro %}
