{# ------------------------#}
{# -------Code block-------#}
{# ------------------------#}

{% set randomWords = [DATA.CONFIG.TYPO_WORDS_U, DATA.CONFIG.TYPO_WORDS_V, DATA.CONFIG.TYPO_WORDS_W, DATA.CONFIG.TYPO_WORDS_Y, DATA.CONFIG.TYPO_WORDS_X, DATA.CONFIG.TYPO_WORDS_Z] %}


{% macro buttonLink(text, href) %}
	<a href="{{ href }}" class="a-button" title="{{ text }}">{{ text }}</a>
{% endmacro %}

{% macro button(text) %}
	<button class="a-button" title="{{ text }}">{{ text }}</button>
{% endmacro %}

{% macro buttonSubmit(text) %}
	<input type="submit" class="a-button" value="{{ text }}">
{% endmacro %}


{% macro buttonLinkDisabled(text) %}
	<a class="a-button" disabled title="{{ text }}">{{ text }}</a>
{% endmacro %}

{% macro buttonDisabled(text) %}
	<button class="a-button" disabled title="{{ text }}">{{ text }}</button>
{% endmacro %}

{% macro buttonSubmitDisabled(text) %}
	<input type="submit" class="a-button" disabled value="{{ text }}">
{% endmacro %}

{# ----------------------------#}
{# ------Styleguide block------#}
{# ----------------------------#}
{% macro styleguide() %}

	<div class="styleguide__h3 styleguide__sub-title">Primary button</div>
	<div class="styleguide__p">
		Use &lt;a&gt; for navigation, &lt;button&gt; for everything else.
		Submit/reset buttons are the only exceptions, using &lt;input [type="submit"]&gt;
		to trigger default browser behaviour associated with submitting form input.
	</div>

	<div class="styleguide__sample">
		<div class="styleguide__sample__body">
            {% set buttonText = randomWords | random %}
            {% set button = button(buttonText) %}
			{{ button }}

            {% set buttonLinkText = randomWords | random %}
            {% set buttonLink = buttonLink(buttonLinkText, '#') %}
			{{ buttonLink }}

            {% set buttonSubmitText = randomWords | random %}
            {% set buttonSubmit = buttonSubmit(buttonSubmitText) %}
			{{ buttonSubmit }}

            {% set buttonDisabledText = randomWords | random %}
            {% set buttonDisabled = buttonDisabled(buttonDisabledText) %}
			{{ buttonDisabled }}

            {% set buttonLinkDisabledText = randomWords | random %}
            {% set buttonLinkDisabled = buttonLinkDisabled(buttonLinkDisabledText) %}
			{{ buttonLinkDisabled }}

            {% set buttonSubmitDisabledText = randomWords | random %}
            {% set buttonSubmitDisabled = buttonSubmitDisabled(buttonSubmitDisabledText) %}
			{{ buttonSubmitDisabled }}
		</div>
	</div>


	<div class="styleguide__highlight-box cm-s-dracula">
		<textarea class="styleguide__code-mirror">
			{{ button | forceescape}}
			{{ buttonLink | forceescape }}
			{{ buttonSubmit | forceescape }}
			{{ buttonDisabled | forceescape }}
			{{ buttonLinkDisabled | forceescape }}
			{{ buttonSubmitDisabled | forceescape }}
		</textarea>
	</div>



{% endmacro %}
