{# ------------------------#}
{# -------Code block-------#}
{# ------------------------#}
{% set randomWords = [DATA.CONFIG.TYPO_WORDS_U, DATA.CONFIG.TYPO_WORDS_V, DATA.CONFIG.TYPO_WORDS_W, DATA.CONFIG.TYPO_WORDS_Y, DATA.CONFIG.TYPO_WORDS_X, DATA.CONFIG.TYPO_WORDS_Z] %}

{% macro buttonSecondaryLink(text, href) %}
	<a href="{{ href }}" class="a-button a-button--outline" title="{{ text }}">{{ text }}</a>
{% endmacro %}

{% macro buttonSecondary(text) %}
	<button class="a-button a-button--outline" title="{{ text }}">{{ text }}</button>
{% endmacro %}

{% macro buttonSecondarySubmit(text) %}
	<input type="submit" class="a-button a-button--outline" value="{{ text }}">
{% endmacro %}


{% macro buttonSecondaryLinkDisabled(text) %}
	<a class="a-button a-button--outline" disabled title="{{ text }}">{{ text }}</a>
{% endmacro %}

{% macro buttonSecondaryDisabled(text) %}
	<button class="a-button a-button--outline" disabled title="{{ text }}">{{ text }}</button>
{% endmacro %}

{% macro buttonSecondarySubmitDisabled(text) %}
	<input type="submit" class="a-button a-button--outline" disabled value="{{ text }}">
{% endmacro %}

{# ----------------------------#}
{# ------Styleguide block------#}
{# ----------------------------#}
{% macro styleguide() %}

	<div class="styleguide__h3 styleguide__sub-title">Secondary button</div>
	<div class="styleguide__p">
		Use &lt;a&gt; for navigation, &lt;button&gt; for everything else.
		Submit/reset buttons are the only exceptions, using &lt;input [type="submit"]&gt;
		to trigger default browser behaviour associated with submitting form input.
	</div>

	<div class="styleguide__sample">
		<div class="styleguide__sample__body">

            {% set buttonSecondaryText = randomWords | random %}
            {% set buttonSecondary = buttonSecondary(buttonSecondaryText) %}
			{{ buttonSecondary }}

            {% set buttonSecondaryLinkText = randomWords | random %}
            {% set buttonSecondaryLink = buttonSecondaryLink(buttonSecondaryLinkText, '#') %}
			{{ buttonSecondaryLink }}

            {% set buttonSecondarySubmitText = randomWords | random %}
            {% set buttonSecondarySubmit = buttonSecondarySubmit(buttonSecondarySubmitText) %}
			{{ buttonSecondarySubmit }}

            {% set buttonSecondaryDisabledText = randomWords | random %}
            {% set buttonSecondaryDisabled = buttonSecondaryDisabled(buttonSecondaryDisabledText) %}
			{{ buttonSecondaryDisabled }}

            {% set buttonSecondaryLinkDisabledText = randomWords | random %}
            {% set buttonSecondaryLinkDisabled = buttonSecondaryLinkDisabled(buttonSecondaryLinkDisabledText) %}
			{{ buttonSecondaryLinkDisabled }}

            {% set buttonSecondarySubmitDisabledText = randomWords | random %}
            {% set buttonSecondarySubmitDisabled = buttonSecondarySubmitDisabled(buttonSecondarySubmitDisabledText) %}
			{{ buttonSecondarySubmitDisabled }}
		</div>
	</div>


	<div class="styleguide__highlight-box cm-s-dracula">
		<textarea class="styleguide__code-mirror">
			{{ buttonSecondary | forceescape}}
            {{ buttonSecondaryLink | forceescape }}
            {{ buttonSecondarySubmit | forceescape }}
            {{ buttonSecondaryDisabled | forceescape }}
            {{ buttonSecondaryLinkDisabled | forceescape }}
            {{ buttonSecondarySubmitDisabled | forceescape }}
		</textarea>

	</div>

{% endmacro %}
