{# ------------------------#}
{# -------Code block-------#}
{# ------------------------#}
{% macro listUl() %}
	<ul class="a-list">
		<li>Sed ut perspiciatis unde omnis</li>
		<li>Sed ut perspiciatis unde omnis</li>
		<li>Label for nested list items
			<ul>
				<li>Nested list items</li>
				<li>Nested list items</li>
				<li>Nested list items</li>
			</ul>
		</li>
	</ul>
{% endmacro %}

{% macro listOl() %}
	<ol class="a-list">
		<li>Sed ut perspiciatis unde omnis</li>
		<li>Sed ut perspiciatis unde omnis</li>
		<li>Label for nested list items
			<ul>
				<li>Nested list items</li>
				<li>Nested list items</li>
				<li>Nested list items</li>
			</ul>
		</li>
	</ol>
{% endmacro %}

{% macro inlineList() %}
	<ul class="a-inline-list">
		<li>List item</li>
		<li>List item</li>
		<li>List item</li>
	</ul>
{% endmacro %}


{# ----------------------------#}
{# ------Styleguide block------#}
{# ----------------------------#}
{% macro styleguide() %}

	<div class="styleguide__h3 styleguide__sub-title js-scroll-nav__sub-title">Unnumbered list</div>
	<div class="styleguide__p">
		A basic unnumbered list element.
	</div>


    {% set listUl = listUl() %}
	<div class="styleguide__sample">
        {{ listUl }}
	</div>

	<div class="styleguide__highlight-box">
		<div class="styleguide__highlight-box__header">Code Sample</div>
		<textarea class="styleguide__code-mirror">
			{{ listUl | trim }}
		</textarea>
	</div>

	<div class="styleguide__h3 styleguide__sub-title js-scroll-nav__sub-title">Numbered list</div>
	<div class="styleguide__p">
		A basic numbered list element.
	</div>


    {% set listOl = listOl() %}
	<div class="styleguide__sample">
        {{ listOl }}
	</div>

	<div class="styleguide__highlight-box">
		<div class="styleguide__highlight-box__header">Code Sample</div>
		<textarea class="styleguide__code-mirror">
			{{ listOl | trim }}
		</textarea>
	</div>

	<div class="styleguide__h3 styleguide__sub-title js-scroll-nav__sub-title">Numbered list</div>
	<div class="styleguide__p">
		A inline list element.
	</div>

    {% set inlineList = inlineList() %}
	<div class="styleguide__sample">
        {{ inlineList }}
	</div>

	<div class="styleguide__highlight-box">
		<div class="styleguide__highlight-box__header">Code Sample</div>
		<textarea class="styleguide__code-mirror">
			{{ inlineList | trim }}
		</textarea>
	</div>

{% endmacro %}
