{# ------------------------#}
{# -------Code block-------#}
{# ------------------------#}
{% macro code() %}
	<img src="#" alt=""/>
{% endmacro %}

{# ----------------------------#}
{# ------Styleguide block------#}
{# ----------------------------#}
{% macro styleguide() %}
	<h1 class="styleguide__title js-scroll-nav__sub-title">Accesibility</h1>

	<p class="styleguide__p">
		general rules &amp; best practices here? or integrated in HTML examples down the road?
	</p>



{#
	<br/><br/>

	{{code()}}

	<div class="styleguide__highlight-box">
		<code class="js-encode-html prettyprint">
			{{code()}}
		</code>
	</div>
#}

{% endmacro %}
