{% set htmlParameters = {
		'isStyleguide' : true,
		'bodyClass': '',
		'rootPath' : '/',
		'pageName' : 'styleguide'
	}
%}
{% include "styleguides/general/pages/_includes/_html_head.njk" %}

<div class="js-scroll-nav">
	{#  Introduction #}
	<section class="styleguide">
		<div class="styleguide__container">
			<main>
				<div class="styleguide__h1 styleguide__title js-scroll-nav__title">Styleguide</div>
				<div class="styleguide__small">version: {{VERSION_INFO.current_version}}</div>
				<br/>
				<div class="styleguide__p">
					Welcome to the awesome <strong>{{DATA.CONFIG.PROJECT_TITLE}}</strong> styleguide! This is a guide & code repository
					for designing and coding projects for <strong>{{DATA.CONFIG.PROJECT_TITLE}}</strong>.
					We want to make it easy for you so we designed a visual language to use in your apps while respecting our brand
					and legal/licensing restrictions. Hope you like it!!
				</div>
				<div class="styleguide__hr"></div>
				<div class="styleguide__h4">Changelog</div>
				<div class="styleguide__changelog">
					{% for log in VERSION_INFO.changelog %}
						<div class="styleguide__p">{{ log.version }}:&emsp;{{ log.message }}</div>
					{% endfor %}
				</div>
			</main>
		</div>
	</section>

	{#  Styleguide components #}
	{% asyncEach name in DATA.STYLEGUIDES.GENERAL.NAV %}
		<div class="styleguide__section-title">
			<div class="styleguide__h1 js-scroll-nav__title">{{name.main}}</div>
			<div class="styleguide__p">{{name.description}}</div>
		</div>


		<section class="styleguide">
			<div class="styleguide__container">
				<main>
					{#  Specific pages code #}
					{% if name.main == "pages" %}
						<div class="styleguide__h2 styleguide__title js-scroll-nav__sub-title">Templates</div>
						<div class="styleguide__p">
							We provide a few example page templates to show how all our components work together on a page.
						</div>
						<div class="styleguide__hr"></div>

                        {% for folder, templates in DATA.STYLEGUIDES.GENERAL.PAGES %}
							{% if folder !== '_root' %}
								<div>{{ folder }}</div>
							{% endif %}
							<ul>
								{% for template in templates %}
									<li><a href="/styleguides/general/pages/{{ template.path }}{{DATA.EXTENSION}}">{{ template.name }}</a></li>
								{% endfor %}
							</ul>

							<br>
							<br>
						{% endfor %}

					{% endif %}

					{#  Components #}
					{% asyncEach sub in name.sub %}
						{% import sub.path as component %}

						{% if component.styleguide %}
							{{component.styleguide(DATA)}}
						{% endif %}
					{% endeach %}

				</main>
			</div>
		</section>
	{% endeach %}
</div>

{% include "styleguides/general/pages/_includes/_html_footer.njk" %}
