{# ----------------------------#}
{# ------Styleguide block------#}
{# ----------------------------#}
{% macro styleguide(DATA) %}
	<div class="styleguide__h2 styleguide__title js-scroll-nav__sub-title">Typography</div>
	<div class="styleguide__small">/sass/base/_quarks/_typography.scss</div>
	<div class="styleguide__hr"></div>

	<div class="styleguide__h3 styleguide__sub-title">Font stack</div>
	<div class="styleguide__p">
		Below are links to download the fonts that are used throughout this styleguide.
		We use a limited amount of fonts to make sure the brand stands out.
	</div>
	<div>
		<ul>
            {% for font  in DATA.FONT_FAMILY %}
				<li><a href="/fonts/{{ font }}.zip" download>{{ font }}</a></li>
            {% endfor %}
		</ul>
	</div>

	<div class="styleguide__h3 styleguide__sub-title">Headings</div>
	<div class="styleguide__p">
		The list of different heading sizes used throughout the project. Make sure you provide a nice vertical rhythm.
	</div>

    <div class="styleguide__h4">Heading 1</div>
    {% macro h1(text) %}
		<h1>{{ text }}</h1>
    {% endmacro %}
    {% set h1 = h1(DATA.CONFIG.TYPO_SENTENCE_U) %}

	<div class="styleguide__sample">
		{{ h1 }}
	</div>

    <div class="styleguide__highlight-box cm-s-dracula">
		<textarea class="styleguide__code-mirror">
			{{ h1 | forceescape }}
		</textarea>
    </div>

	<div class="styleguide__p">&nbsp;</div>

    <div class="styleguide__h4">Heading 2</div>
    {% macro h2(text) %}
		<h2>{{ text }}</h2>
    {% endmacro %}
    {% set h2 = h2(DATA.CONFIG.TYPO_SENTENCE_V) %}

	<div class="styleguide__sample">
        {{ h2 }}
	</div>

    <div class="styleguide__highlight-box cm-s-dracula">
		<textarea class="styleguide__code-mirror">
			{{ h2 | forceescape }}
		</textarea>
    </div>

	<div class="styleguide__p">&nbsp;</div>

    <div class="styleguide__h4">Heading 3</div>
    {% macro h3(text) %}
		<h3>{{ text }}</h3>
    {% endmacro %}
    {% set h3 = h3(DATA.CONFIG.TYPO_SENTENCE_W) %}

	<div class="styleguide__sample">
        {{ h3 }}
	</div>

    <div class="styleguide__highlight-box cm-s-dracula">
		<textarea class="styleguide__code-mirror">
			{{ h3 | forceescape }}
		</textarea>
    </div>

	<div class="styleguide__p">&nbsp;</div>

    <div class="styleguide__h4">Heading 4</div>
    {% macro h4(text) %}
		<h4>{{ text }}</h4>
    {% endmacro %}
    {% set h4 = h4(DATA.CONFIG.TYPO_SENTENCE_X) %}

	<div class="styleguide__sample">
        {{ h4 }}
	</div>

    <div class="styleguide__highlight-box cm-s-dracula">
		<textarea class="styleguide__code-mirror">
			{{ h4 | forceescape }}
		</textarea>
    </div>

	<div class="styleguide__p">&nbsp;</div>

    <div class="styleguide__h4">Heading 5</div>
    {% macro h5(text) %}
		<h5>{{ text }}</h5>
    {% endmacro %}
    {% set h5 = h5(DATA.CONFIG.TYPO_SENTENCE_Y) %}

	<div class="styleguide__sample">
        {{ h5 }}
	</div>

    <div class="styleguide__highlight-box cm-s-dracula">
		<textarea class="styleguide__code-mirror">
			{{ h5 | forceescape }}
		</textarea>
    </div>

	<div class="styleguide__p">&nbsp;</div>

    <div class="styleguide__h4">Heading 6</div>
    {% macro h6(text) %}
		<h6>{{ text }}</h6>
    {% endmacro %}
    {% set h6 = h6(DATA.CONFIG.TYPO_SENTENCE_Z) %}

	<div class="styleguide__sample">
        {{ h6 }}
	</div>

    <div class="styleguide__highlight-box cm-s-dracula">
		<textarea class="styleguide__code-mirror">
			{{ h6 | forceescape }}
		</textarea>
    </div>


	<div class="styleguide__h3 styleguide__sub-title">HTML Elements</div>
	<div class="styleguide__p">
		The list of all different html element used throughout the project. Provide a nice base styling for all element that fit the design.
	</div>

    {% macro p(text) %}
		<p>{{ text }}</p>
    {% endmacro %}
    {% set p = p(DATA.CONFIG.TEXT_DUMMY_LARGE)%}

    <div class="styleguide__h4">Paragraph</div>
    <div class="styleguide__sample">
        {{ p }}
	</div>

    <div class="styleguide__highlight-box cm-s-dracula">
		<textarea class="styleguide__code-mirror">
			{{ p | forceescape }}
		</textarea>
    </div>

	<div class="styleguide__p">&nbsp;</div>

    {% macro small(text) %}
		<small>{{ text }}</small>
    {% endmacro %}
    {% set small = small(DATA.CONFIG.TEXT_DUMMY_MEDIUM) %}

    <div class="styleguide__h4">Small</div>
    <div class="styleguide__sample">
        {{ small }}
	</div>

    <div class="styleguide__highlight-box cm-s-dracula">
		<textarea class="styleguide__code-mirror">
			{{ small | forceescape }}
		</textarea>
    </div>

	<div class="styleguide__p">&nbsp;</div>

    <div class="styleguide__h4">Quote/Cite</div>
    {% macro blockQuote(text, author) %}
		<blockquote>
			{{ text }}
			<cite>{{ author }}</cite>
		</blockquote>
	{% endmacro %}
    {% set blockQuote = blockQuote(DATA.CONFIG.TEXT_DUMMY_MEDIUM, DATA.CONFIG.TEXT_DUMMY_SMALL) %}

	<div class="styleguide__sample">
        {{ blockQuote }}
	</div>

    <div class="styleguide__highlight-box cm-s-dracula">
		<textarea class="styleguide__code-mirror">
			{{ blockQuote | forceescape }}
		</textarea>
    </div>

	<div class="styleguide__p">&nbsp;</div>

    {% macro a(text, href) %}
		<a href="{{ href }}" title="{{ text }}">{{ text }}</a>
    {% endmacro %}

    {% set a = a(DATA.CONFIG.TEXT_DUMMY_SMALL, '#') %}

    <div class="styleguide__h4">Link</div>
    <div class="styleguide__sample">
        {{ a }}
	</div>

    <div class="styleguide__highlight-box cm-s-dracula">
		<textarea class="styleguide__code-mirror">
			{{ a | forceescape }}
		</textarea>
    </div>

	<div class="styleguide__p">&nbsp;</div>


    {% macro strong(text) %}
		<strong>{{ text }}</strong>
	{% endmacro %}
    {% set strong = strong(DATA.CONFIG.TEXT_DUMMY_SMALL) %}

    <div class="styleguide__h4">Strong</div>
    <div class="styleguide__sample">
        {{ strong }}
	</div>

    <div class="styleguide__highlight-box cm-s-dracula">
		<textarea class="styleguide__code-mirror">
			{{ strong | forceescape }}
		</textarea>
    </div>


    <div class="styleguide__p">&nbsp;</div>

    {% macro em(text) %}
		<em>{{ text }}</em>
    {% endmacro %}
    {% set em = em(DATA.CONFIG.TEXT_DUMMY_SMALL) %}

    <div class="styleguide__h4">Emphasize</div>
    <div class="styleguide__sample">
        {{ em }}
	</div>

    <div class="styleguide__highlight-box cm-s-dracula">
		<textarea class="styleguide__code-mirror">
			{{ em | forceescape }}
		</textarea>
    </div>

	<div class="styleguide__p">&nbsp;</div>


    {% macro quote(text) %}
		<q>{{ text }}</q>
    {% endmacro %}

    {% set quote = quote(DATA.CONFIG.TEXT_DUMMY_SMALL) %}

    <div class="styleguide__h4">Quote</div>
    <div class="styleguide__sample">
        {{ quote }}
	</div>

    <div class="styleguide__highlight-box cm-s-dracula">
		<textarea class="styleguide__code-mirror">
			{{ quote | forceescape }}
		</textarea>
    </div>

	<div class="styleguide__p">&nbsp;</div>


    {% macro mark(text) %}
		<mark>{{ text }}</mark>
    {% endmacro %}

    {% set mark = mark(DATA.CONFIG.TEXT_DUMMY_SMALL) %}

    <div class="styleguide__h4">Mark</div>
	<div class="styleguide__sample">
        {{ mark }}
	</div>

    <div class="styleguide__highlight-box cm-s-dracula">
		<textarea class="styleguide__code-mirror">
			{{ mark | forceescape }}
		</textarea>
    </div>

	<div class="styleguide__p">&nbsp;</div>

    {% macro del(text) %}
		<del>{{ text }}</del>
    {% endmacro %}

    {% set del = del(DATA.CONFIG.TEXT_DUMMY_SMALL) %}

    <div class="styleguide__h4">Del</div>
    <div class="styleguide__sample">
        {{ del }}
	</div>

    <div class="styleguide__highlight-box cm-s-dracula">
		<textarea class="styleguide__code-mirror">
			{{ del | forceescape }}
		</textarea>
    </div>

{% endmacro %}
