{# ----------------------------#}
{# ------Styleguide block------#}
{# ----------------------------#}
{% macro styleguide() %}
	<div class="styleguide__h2 styleguide__title js-scroll-nav__sub-title">Forms Elements</div>
	<div class="styleguide__small">/sass/atoms/form-elements/*.scss</div>
{% endmacro %}
