{# ------------------------#}
{# -------Code block-------#}
{# ------------------------#}

{% macro checkboxField(label, key, checked) %}
    <div class="a-input a-toggle a-toggle--checkbox">
       <label for="input-checkbox-{{ key }}">
            <input id="input-checkbox-{{ key }}" type="checkbox" name="input-checkbox-{{ key }}" value="{{ key }}" {{ checked }}/>
            <span class="a-toggle__input">
				<span class="a-toggle__check"></span>
			</span>
            <span class="a-toggle__label">
                {{ label }}
            </span>
        </label>
    </div>
{% endmacro %}

{% macro checkboxesField(label) %}
    <div class="a-input">
        <label for="input-checkboxes">{{ label }}</label>
        <div class="a-input__field-holder">
            {{ checkboxField('Checkbox 1', '1') }}
            {{ checkboxField('Checkbox 2', '2', 'checked') }}
            {{ checkboxField('Checkbox 3', '3') }}
            {{ checkboxField('Checkbox 4', '4') }}
        </div>
    </div>
{% endmacro %}

{# ----------------------------#}
{# ------Styleguide block------#}
{# ----------------------------#}
{% macro styleguide() %}
    <div class="styleguide__h3 styleguide__sub-title">Checkboxes</div>
    <div class="styleguide__p">
        A form element building block for single and multiple checkboxes.
    </div>

    {% set checkboxField = checkboxField('I agree with the privacy policy.', 'agree') %}
    <div class="styleguide__sample">
        {{ checkboxField }}
    </div>

    <div class="styleguide__highlight-box">
        <div class="styleguide__highlight-box__header">Code Sample</div>
        <textarea class="styleguide__code-mirror">
			{{ checkboxField | forceescape }}
		</textarea>
    </div>

    <div class="styleguide__p">&nbsp;</div>

    {% set checkboxesField = checkboxesField('Checkboxes') %}
    <div class="styleguide__sample">
        {{ checkboxesField }}
    </div>

    <div class="styleguide__highlight-box">
        <div class="styleguide__highlight-box__header">Code Sample</div>
        <textarea class="styleguide__code-mirror">
			{{ checkboxesField | forceescape }}
		</textarea>
    </div>
{% endmacro %}
