{# ------------------------#}
{# -------Code block-------#}
{# ------------------------#}

{% macro textField(label, placeholder, description) %}
	<div class="a-input">
		<label for="input-text">{{ label }}</label>
		<div class="a-input__field-holder">
			<input type="text" name="input-text" id="input-text" placeholder="{{ placeholder }}" />
		</div>
		<small>{{ description }}</small>
	</div>
{% endmacro %}

{% macro emailField(label, placeholder, description) %}
	<div class="a-input">
		<label for="input-email">{{ label }}</label>
		<div class="a-input__field-holder">
			<input type="email" name="input-email" id="input-email" placeholder="{{ placeholder }}" />
		</div>
		<small>{{ description }}</small>
	</div>
{% endmacro %}

{% macro passwordField(label, placeholder, description) %}
	<div class="a-input">
		<label for="input-password">{{ label }}</label>
		<div class="a-input__field-holder">
			<input type="password" name="input-password" id="input-password" placeholder="{{ placeholder }}" />
		</div>
		<small>{{ description }}</small>
	</div>
{% endmacro %}

{% macro numberField(label, placeholder, description) %}
	<div class="a-input">
		<label for="input-number">{{ label }}</label>
		<div class="a-input__field-holder">
			<input type="number" name="input-number" id="input-number" placeholder="{{ placeholder }}" min="0" step="0.5" max="20" />
		</div>
		<small>{{ description }}</small>
	</div>
{% endmacro %}

{% macro phoneField(label, placeholder, description) %}
	<div class="a-input">
		<label for="input-telephone">{{ label }}</label>
		<div class="a-input__field-holder">
			<input type="tel" name="input-telephone" id="input-telephone" placeholder="{{ placeholder }}" />
		</div>
		<small>{{ description }}</small>
	</div>
{% endmacro %}

{% macro websiteField(label, placeholder, description) %}
	<div class="a-input">
		<label for="input-url">{{ label }}</label>
		<div class="a-input__field-holder">
			<input type="url" name="input-url" id="input-url" placeholder="{{ placeholder }}" />
		</div>
		<small>{{ description }}</small>
	</div>
{% endmacro %}

{% macro searchField(label, placeholder, description) %}
	<div class="a-input">
		<label for="input-search">{{ label }}</label>
		<div class="a-input__field-holder">
			<input type="search" name="input-search" id="input-search" placeholder="{{ placeholder }}" />
		</div>
		<small>{{ description }}</small>
	</div>
{% endmacro %}


{# ----------------------------#}
{# ------Styleguide block------#}
{# ----------------------------#}
{% macro styleguide() %}
	<div class="styleguide__h3 styleguide__sub-title">Textfield</div>
	<div class="styleguide__p">
		A form element building block for a plain text field.
	</div>

    {% set textField = textField('Text input', 'Enter your text here', 'Tell the user what kind of input is expected, add a clickthrough as needed') %}
	<div class="styleguide__sample">
		<div class="styleguide__sample__body">
			{{ textField }}
		</div>
	</div>

	<div class="styleguide__highlight-box cm-s-dracula">
		<textarea class="styleguide__code-mirror">
			{{ textField | forceescape }}
		</textarea>
	</div>

	<div class="styleguide__p">&nbsp;</div>



    {% set emailField = emailField('Email', 'info@your-domein.com', 'Don\'t worry, we won\'t spam you.') %}
	<div class="styleguide__h3 styleguide__sub-title">Email</div>
	<div class="styleguide__p">
		A form element building block for a email text field.
	</div>
	<div class="styleguide__sample">
		<div class="styleguide__sample__body">
			{{ emailField }}
		</div>
	</div>

	<div class="styleguide__highlight-box cm-s-dracula">
		<textarea class="styleguide__code-mirror">
			{{ emailField | forceescape }}
		</textarea>
	</div>

	<div class="styleguide__p">&nbsp;</div>


    {% set passwordField = passwordField('Password', 'Enter your password here', 'Passwords should be 6 characters or more. Be tricky!') %}
	<div class="styleguide__h3 styleguide__sub-title">Password</div>
	<div class="styleguide__p">
		A form element building block for a password text field.
	</div>
	<div class="styleguide__sample">
		<div class="styleguide__sample__body">
			{{ passwordField }}
		</div>
	</div>

	<div class="styleguide__highlight-box cm-s-dracula">
		<textarea class="styleguide__code-mirror">
			{{ passwordField | forceescape }}
		</textarea>
	</div>

	<div class="styleguide__p">&nbsp;</div>


    {% set numberField = numberField('Amount', '3', 'Select the number of products you want to order.') %}
	<div class="styleguide__h3 styleguide__sub-title">Number</div>
	<div class="styleguide__p">
		A form element building block for a number text field.
	</div>
	<div class="styleguide__sample">
		<div class="styleguide__sample__body">
			{{ numberField }}
		</div>
	</div>
	<div class="styleguide__highlight-box cm-s-dracula">
		<textarea class="styleguide__code-mirror">
			{{ numberField | forceescape }}
		</textarea>
	</div>

	<div class="styleguide__p">&nbsp;</div>


    {% set phoneField = phoneField('Phone number', '+32 ××× ×× ×× ××', 'Don\'t worry, we only contact you when it\'s absolutely necessary.') %}
	<div class="styleguide__h3 styleguide__sub-title">Phone</div>
	<div class="styleguide__p">
		A form element building block for a phone text field.
	</div>
	<div class="styleguide__sample">
		<div class="styleguide__sample__body">
			{{ phoneField }}
		</div>
	</div>
	<div class="styleguide__highlight-box cm-s-dracula">
		<textarea class="styleguide__code-mirror">
			{{ phoneField | forceescape }}
		</textarea>
	</div>

	<div class="styleguide__p">&nbsp;</div>


    {% set websiteField = websiteField('Website', 'https://', 'Tell us a little bit more about yourself.') %}
	<div class="styleguide__h3 styleguide__sub-title">Website</div>
	<div class="styleguide__p">
		A form element building block for a website text field.
	</div>
	<div class="styleguide__sample">
		<div class="styleguide__sample__body">
			{{ websiteField }}
		</div>
	</div>
	<div class="styleguide__highlight-box cm-s-dracula">
		<textarea class="styleguide__code-mirror">
			{{ websiteField | forceescape }}
		</textarea>
	</div>

	<div class="styleguide__p">&nbsp;</div>


    {% set searchField = searchField('Search', 'Type to search', 'Can\'t find what you\'re looking for? Try our frequently asked questions.') %}
	<div class="styleguide__h3 styleguide__sub-title">Search</div>
	<div class="styleguide__p">
		A form element building block for a search text field.
	</div>
	<div class="styleguide__sample">
		<div class="styleguide__sample__body">
			{{ searchField }}
		</div>
	</div>
	<div class="styleguide__highlight-box cm-s-dracula">
		<textarea class="styleguide__code-mirror">
			{{ searchField | forceescape }}
		</textarea>
	</div>
{% endmacro %}
