{# ------------------------#}
{# -------Code block-------#}
{# ------------------------#}
{% macro selectField(label, placeholder, description) %}
	<div class="a-input a-select">
		<label for="input-select">{{ label }}</label>
		<div class="a-input__field-holder">
			<select name="input-selected" id="input-select">
				<option value="" disabled selected>{{ placeholder }}</option>
				<option value="1">Option 1</option>
				<option value="2">Option 2</option>
				<option value="3">Option 3</option>
				<option value="4" disabled>Option 4 disabled</option>
				<option value="5">Option 5</option>
			</select>
			<span class="a-select_icon">
				<span class="a-select__down"></span>
			</span>
		</div>
		<small>{{ description }}</small>
	</div>
{% endmacro %}

{# ----------------------------#}
{# ------Styleguide block------#}
{# ----------------------------#}
{% macro styleguide() %}
	<div class="styleguide__h3 styleguide__sub-title">Select</div>
	<div class="styleguide__p">
		A form element building block for selects.
	</div>

    {% set selectField = selectField('Select', 'Make a wise choice...', 'Hurry up and make a choice!') %}
	<div class="styleguide__sample">
        {{ selectField }}
	</div>
	<div class="styleguide__highlight-box">
		<div class="styleguide__highlight-box__header">Code Sample</div>
		<textarea class="styleguide__code-mirror">
			{{ selectField | forceescape }}
		</textarea>
	</div>
{% endmacro %}
