// -------------------------------------------------------------------
// :: STICKY IN-PAGE NAVIGATION
// -------------------------------------------------------------------
// Using scrollNav.js - http://scrollnav.com

.js-scroll-nav {
	position: relative;
	box-shadow: 1px 1px 2em $brand-shadow;
	display: flex;
	flex-direction: column;

	@include FLOW-at($screen-sm) {
		margin-left: 25%;
	}

	@include FLOW-at($screen-md) {
		margin-left: 15%;
	}
}
